{% extends 'upload/base.html' %}
{% block content %}
<div class="container p-5">
    {% load crispy_forms_tags %}
    <div class="card bg-light">
        <div class="card-body">
            <form id="soundForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Create a Soundbyte</h3>
                <input type="hidden" name="action" value="soundbyte">
                {% if soundbyte_form.errors %}
                {{soundbyte_form.errors}}{% endif %}
                {{soundbyte_form|crispy}}
                <button class="btn btn-primary">Create</button>
            </form>
            <div class="my-5" style="width: 100%; height: 20px; border-bottom: 1px solid lightgray; text-align: center">
                <span class="bg-light px-3" style="margin-top: 10px;font-size: 20px">
                    OR
                    <!--Padding is optional-->
                </span>
            </div>
            <form id="categoryForm" method="POST">
                <h3>Create a Category</h3>
                {% csrf_token %}
                <input type="hidden" name="action" value="category">
                {{category_form|crispy}}
                <button type="button" onclick="$('#categoryForm').submit()" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}