html, body {
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
	background-image: url("Background.jpg");
	background-repeat: repeat-y;
	background-size: auto;
	height: 100%;
	background-size: cover;
}

button {
	height: 60px;
	width: 200px;
	background-color: #AA0000;
	color: white;
	margin: 10px;
	border: 1px black;
	border-style: solid;
	border-radius: 5px;
}

button:hover {
	background-color: #CC0000;
}

button:active {
	background-color: #BB0000;
}

button.dropbtn {
	background-color: #0000AA
}

.dropdowncontent {
	position: absolute;
}

.show {
	display: block;
}

#topBar {
	position: relative;
	width: 100%;
	background-color: black;
	margin-bottom: 50px;
	padding-bottom: 10px;
}

#category {
	padding: 0;
	position: relative;
	background-color: black;
	color: white;
	bottom: 0;
	border-radius: 0px;
	margin-bottom: 0;
	display: inline-block;
	height: 40px;
	width: 120px;
}

#category:hover {
	background-color: white;
	color: black;
}

#category:active {
	background-color: lightgray;
}

.category {
	width: 100%;
	position: absolute;
	display: none;
}

.show {
	display: inline-block;
}
